* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Bodoni Moda', serif; */
  font-family: 'Roboto', sans-serif;
  direction: rtl;
}

.first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  background: #192b42;
  color: white;
  font-size: 22px;
  padding: 10px 110px;
}

.phone-number a {
  text-decoration: none;
  color: rgb(211, 185, 151);
  transition: color 0.3s;
  letter-spacing: 2px;
}

.phone-number a:hover {
  color: white;
}

.social-first {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.social-first i {
  cursor: pointer;
  transition: color 0.3s;
}

.social-first i:hover {
  color: rgb(255, 201, 94);
}

.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  background: #192b42;
  color: white;
  padding: 25px 110px;
}

.second-part h2 {
  font-size: 35px;
}

nav {
  width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

li:hover {
  color: rgb(255, 201, 94);
}

.background-wrapper {
  background-image: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-part {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 32, 51, 0.349);
  height: 700px;
}

.third-part h1 {
  text-align: center;
  color: white;
  font-size: 75px;
  letter-spacing: 4px;
  width: 40%;
}

.third-part a {
  text-decoration: none;
  border: unset;
  border-radius: 4px;
  padding: 12px 30px;
  font-size: 22px;
  color: rgb(238, 238, 255);
  cursor: pointer;
  background-color: rgb(122, 97, 66);
  transition: all 0.3s;
}

.third-part a:hover {
  background-color: rgb(150, 122, 84);
}

.fourth-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  padding: 50px 50px;
  background: rgb(255, 255, 255);
}

.fourth-part h2 {
  font-size: 40px;
}

.fifth-part {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 1000px;
  background-color: rgb(238, 238, 238);
  font-family: 'Bodoni Moda', serif;
}

.fifth-part-h2 {
  font-size: 28px;
}

.fifth-part-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 700px;
}

.fifth-part-cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.fifth-part-cards .card .card-img {
  width: 50%;
  height: 100%;
}

.fifth-part-cards .card .card-img img {
  width: 100%;
  height: 100%;
}

.card-details {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  padding-right: 56px;
  justify-content: space-evenly;
}

.card-details h2 {
  color: goldenrod;
  font-size: 29px;
  font-weight: 700;
}

.card-details p {
  font-size: 22px;
  font-weight: 600;
}

.card-details h3 {
  color: rgb(165, 165, 165);
  font-size: 18px;
}

.fifth-part a {
  text-decoration: none;
  border-radius: 4px;
  padding: 18px;
  font-size: 22px;
  color: rgb(238, 238, 255);
  cursor: pointer;
  background-color: rgb(173, 136, 40);
  transition: all 0.3s;
}

.fifth-part a:hover {
  background-color: rgb(177, 150, 84);
}

.sixth-part {
  display: flex;
  height: 100vh;
  /* background-image: url(https://images.unsplash.com/photo-1605145536839-7344525b0b3a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzB8fHJvc2UlMjBvbiUyMHBhcGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.sixth-part .form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.sixth-part .form form {
  background: rgb(228, 228, 228);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 600px;
  box-shadow: 1px 1px 22px rgb(216, 216, 216);
}

.sixth-part .form form input,
.sixth-part .form form button {
  width: 62%;
  height: 41px;
  padding: 3px 13px;
  font-size: 17px;
  background: white;
  border: unset;
}

.sixth-part .form form textarea {
  width: 62%;
  padding: 3px 13px;
  font-size: 17px;
  background: white;
  color: black;
}

.sixth-part .form form button {
  background-color: #253f61;
  color: white;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.3s;
  border: unset;
  border-radius: 3px;
}

.sixth-part .form form button:hover {
  background-color: #47658d;
}

.sixth-part .contact {
  display: grid;
  grid-template-areas:
    'h2 h2'
    'p1 p1'
    'h3 p2'
    'h4 p3'
    'h5 a'
    'h5 a2'
    'a-social a-social';
  width: 50%;
  padding-right: 100px;
  padding-top: 75px;
}

.sixth-part .contact h2 {
  grid-area: h2;
  font-size: 50px;
}

.sixth-part .contact .p1 {
  grid-area: p1;
  font-size: 25px;
}

.sixth-part .contact .p2 {
  grid-area: p2;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.sixth-part .contact .p3 {
  grid-area: p3;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.sixth-part .contact h3 {
  grid-area: h3;
  font-size: 30px;
}
.sixth-part .contact h4 {
  grid-area: h4;
  font-size: 30px;
}
.sixth-part .contact h5 {
  grid-area: h5;
  font-size: 30px;
}

.sixth-part .contact .number {
  grid-area: a;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: darkblue;
}

.sixth-part .contact .email {
  grid-area: a2;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: darkblue;
}

.social-sixth {
  width: fit-content;
  height: fit-content;
  float: left;
  color: black;
  font-size: 40px;
  transition: color 0.3s;
}

.social-sixth:hover {
  color: blue;
}

footer {
  height: 340px;
  background: #192b42;
  color: white;
  padding: 0 150px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.footer-wrapper-small {
  display: flex;
  width: 1370px;
  height: 58%;
}

.footer-wrapper-small .general-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
}

.footer-wrapper-small .follow-us {
  align-items: center;
}

.footer-wrapper-small .general-div a {
  width: fit-content;
}

footer a {
  text-decoration: none;
  color: rgb(136, 201, 255);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

footer a:hover {
  color: rgb(255, 201, 94);
}

footer h2 {
  font-size: 35px;
}

.footer-wrapper-small .follow-us h3 {
  font-size: 29px;
}

footer span {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 25px;
  height: fit-content;
}

footer span i {
  cursor: pointer;
  transition: all 0.3s;
}

footer span i:hover {
  color: goldenrod;
}

footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

/* index3 part */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container .card {
  width: 400px;
  margin: 20px 0;
}

.reverse {
  position: relative;
  width: 100%;
  height: 270px;
  box-shadow: 1px 1px 11px gray;
}

.reverse img {
  width: 100%;
  position: absolute;
  transition: all 1s;
}

.reverse h2 {
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: underline;
  font-size: 25px;
}

.reverse p {
  position: absolute;
  top: 60px;
  right: 30px;
  font-size: 16px;
}

.reverse span {
  position: absolute;
  top: 170px;
  right: 30px;
  font-size: 19px;
  color: rgb(28, 100, 0);
}

.reverse a {
  position: absolute;
  top: 210px;
  right: 55px;
  text-decoration: none;
  background-color: rgb(60, 60, 117);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  font-size: 18px;
}

.container .card:hover img {
  transform: rotateY(90deg);
}

/* index4 part */

.gallery ul {
  list-style: none;
  text-align: center;
}

.gallery li {
  position: relative;
  display: inline-block;
  margin: 35px;
  background-color: #192b42;
  color: white;
  padding: 10px;
  top: 40px;
  transition: all 0.3s linear;
  filter: grayscale(80%);
}

.gallery li:nth-child(2n) {
  transform: rotate(10deg);
  animation: yuda 2s infinite linear alternate;
}
.gallery li:nth-child(2n + 1) {
  transform: rotate(-10deg);
  animation: yudaa 2s infinite linear alternate;
}

@keyframes yuda {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
@keyframes yudaa {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.gallery li:hover {
  top: 2px;
  opacity: 1;
  filter: grayscale(0%) saturate(2);
  transform: scaleX(1.5);
  animation-play-state: paused;
}

@media (max-width: 940px) {
  .fifth-part {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    font-family: 'Bodoni Moda', serif;
  }

  .fifth-part-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .fifth-part-cards .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* height: 300px; */
    height: fit-content;
    background-color: rgb(255, 255, 255);
  }

  .fifth-part-cards .card .card-img {
    width: 100%;
    height: 50%;
  }

  .fifth-part-cards .card .card-img img {
    width: 100%;
    height: 100%;
  }

  .card-details {
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 46px;
    justify-content: space-evenly;
  }

  .card-details h2 {
    color: goldenrod;
    font-size: 23px;
    font-weight: 700;
    margin: 10px 0;
  }

  .card-details p {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
  }

  .card-details h3 {
    color: rgb(165, 165, 165);
    font-size: 13px;
    margin: 10px 0;
  }
}
