* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Imbue', serif;
}

.first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  background: rgb(31, 31, 90);
  color: white;
  font-size: 22px;
  padding: 0px 110px;
}

.phone-number a {
  text-decoration: none;
  color: rgb(136, 201, 255);
}

.social-first {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  background: rgb(31, 31, 90);
  /* background: rgb(71, 71, 173); */
  color: white;
  padding: 0px 110px;
}

.second-part h2 {
  font-size: 35px;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
}

nav ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

li:hover {
  color: rgb(255, 201, 94);
}

.background-wrapper {
  background-image: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-part {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 32, 51, 0.349);
  height: 700px;
}

.third-part h1 {
  color: white;
  font-size: 75px;
}

.third-part button {
  border: unset;
  border-radius: 4px;
  padding: 18px;
  font-size: 22px;
  color: rgb(238, 238, 255);
  cursor: pointer;
  background-color: rgb(122, 97, 66);
  transition: all 0.3s;
}

.third-part button:hover {
  background-color: rgb(150, 122, 84);
}

.fourth-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background: rgb(255, 255, 255);
}

.fourth-part h2 {
  font-size: 30px;
}

.fifth-part {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 1000px;
  background-color: rgb(219, 219, 219);
}

.fifth-part-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 700px;
}

.fifth-part-cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.fifth-part-cards .card .card-img {
  width: 50%;
  height: 100%;
}

.fifth-part-cards .card .card-img img {
  width: 100%;
  height: 100%;
}

.card-details {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  padding-left: 56px;
  justify-content: space-evenly;
}

.card-details h2 {
  color: goldenrod;
}

.card-details p {
  font-size: 20px;
  font-weight: 600;
}

.card-details h3 {
  color: rgb(165, 165, 165);
}

.fifth-part button {
  border: unset;
  border-radius: 4px;
  padding: 18px;
  font-size: 22px;
  color: rgb(238, 238, 255);
  cursor: pointer;
  background-color: rgb(173, 136, 40);
  transition: all 0.3s;
}

.fifth-part button:hover {
  background-color: rgb(177, 150, 84);
}
